@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

:root {
  --dark-sky-blue: #82b3d3;
  --deep-taupe: #756157;
  --bud-green: #7db54f;
  --black: #000000;
  --dark-charcoal: #333333;
  --white: #ffffff;
  --anti-flash-white: #f2f2f2;
  --dark-salmon: #f49774;

  --dark-sky-blue-medium: rgba(130, 179, 211, 0.2);
  --dark-sky-blue-light: rgba(130, 179, 211, 0.12);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.header,
.main-container,
.footer {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
}

.main-container {
  flex-grow: 1;
}

.nav {
  display: flex;
  padding: 0 70px;
}

.nav-logo-link {
  margin-right: 28px;
}

.nav-list {
  margin-right: auto;
}

.nav-user {
  width: 88px;
  margin-right: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.social-list {
  width: 142px;
}

.main-inner-bg {
  padding: 0 70px;
}

.filter-form {
  display: flex;
}

.filter-form-buttons {
  max-width: 191px;
}

.hotels {
  padding: 0 70px;
}

/* ==================================================== */

.nav-link,
.filter-form-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.nav-link,
.nav-user-link,
.hotel-link,
.pagination-link {
  text-decoration: none;
}

.nav-link,
.newsletter-inner .newsletter-title,
.newsletter-inner .newsletter-text {
  color: var(--black);
}

.nav-user-favorites {
  font-size: 10px;
  line-height: 10px;
  color: var(--white);
}

.hero,
.newsletter,
.main-inner-bg {
  background-color:var(--dark-salmon);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  background-image: url("../images/bg-hero.jpg");
}

.advantages-heading,
.advantages-text,
.advantages-title,
.advantages-desc,
.services,
.search-hotel {
  text-align: center;
}

.advantages-heading,
.services-heading,
.search-hotel-title,
.newsletter-title,
.hotels-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
}

.advantages-text,
.services-text,
.search-hotel-text,
.newsletter-text {
  font-size: 22px;
  line-height: 26px;
}

.advantages-title,
.services-title,
.hotel-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
}

.advantages-item:first-child,
.advantages-item:first-child .advantages-title,
.advantages-item:last-child,
.advantages-item:last-child .advantages-title {
  color: var(--white);
  background-color: var(--dark-sky-blue);
}

.advantages-item:nth-of-type(2n),
.services-item:nth-of-type(2n + 1) {
  background-color: var(--dark-sky-blue-light);
}

.advantages-item:nth-of-type(3) {
  background-color: var(--dark-sky-blue-medium);
}

.services-item:nth-of-type(2n),
.pagination-dots {
  background-color: var(--white);
}

.nav-button-link,
.search-hotel-link,
.hotel-link-details {
  background-color: var(--deep-taupe);
}

.newsletter,
.newsletter-title,
.main-inner-bg {
  color: var(--white);
}

.newsletter {
  background-image: url("../images/bg-newsletter.jpg");
}

.contacts-phone-link {
  font-size: 40px;
  line-height: 40px;
  color: var(--black);
  text-decoration: none;
}

.main-inner-bg {
  background-image: url("../images/bg-filter.jpg");
}

.main-inner-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
}

.filter-form-label {
  line-height: 23px;
}

.filter-form-label-price {
  line-height: 24px;
  color: var(--black);
}

.filter-form-input,
.newsletter-input,
.select-control {
  font-size: 18px;
}

.filter-form-input {
  line-height: 24px;
  font-weight: 700;
}

.nav-button-link,
.filter-form-submit,
.filter-form-reset,
.hotel-link-details,
.hotel-link-favorite,
.hotel-rating {
  font-size: 16px;
  line-height: 20px;
}

.filter-form-input,
.filter-form-submit,
.filter-form-reset,
.newsletter-input,
.newsletter-button,
.select-control {
  font-family: inherit;
}

.filter-form-reset,
.newsletter-inner {
  background: none;
}

.select-control {
  line-height: 21px;
  font-weight: 400;
  color: var(--dark-charcoal);
  background-color: var(--white);
}

.hotel-title {
  text-transform: none;
}

.filter-form-submit,
.hotel-link-favorite,
.pagination-link:not(.pagination-dots, .pagination-current),
.newsletter-button  {
  background-color: var(--dark-sky-blue);
}

.nav-user-favorites,
.hotel-link-favorite-active {
  background-color: var(--bud-green);
}

.hotel-rating {
  color: var(--dark-charcoal);
  background-color: var(--anti-flash-white);
  text-transform: uppercase;
}

.pagination-link {
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color:var(--white);
}

.pagination-current {
  color: var(--black);
  background-color: var(--anti-flash-white);
}

.newsletter-input {
  line-height: 24px;
}

.copyright-link {
  width: 115px;
  height: 33px;
  background-image: url("../images/logo-htmlacademy.svg");
}
